* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

/* REACT ROOT CENTER FIX */
#root {
    display: flex;
    justify-content: center;
}

/* MAIN CONTAINER */
.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

/* CARDS */
.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* TITLES */
h1,
.t1,
.t2 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

/* TEXT */
p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* LINKS */
a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    color: #005fa3;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #0077cc;
    color: white;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BUTTON */
button {
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #005fa3;
}

/* DARK MODE */
.dark-mode {
    background-color: #2c2b36;
    color: white;
    min-height: 100vh;
}

.dark-mode .card {
    background-color: #000000;
    color: white;
}


.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}


.hidden {
    display: none;
}